{% extends "base.html" %}

{% block title %}Dashboard - Meal Manager{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card text-white bg-warning">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">{{ t('Meal Plan') }}</h5>
                        <p class="card-text">{{ t('Plan your meals and generate grocery lists') }}</p>
                    </div>
                    <div class="align-self-center">
                        <i class="fas fa-calendar fa-2x"></i>
                    </div>
                </div>
                <a href="{{ url_for('meal_plan') }}" class="btn btn-light mt-2">
                    <i class="fas fa-arrow-right"></i> {{ t('Plan') }}
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card text-white bg-success">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">{{ t('Pantry') }}</h5>
                        <p class="card-text">{{ t('Track your ingredients and pantry inventory') }}</p>
                    </div>
                    <div class="align-self-center">
                        <i class="fas fa-box fa-2x"></i>
                    </div>
                </div>
                <a href="{{ url_for('pantry_view') }}" class="btn btn-light mt-2">
                    <i class="fas fa-arrow-right"></i> {{ t('View') }}
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card text-white bg-info">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">{{ t('Recipes') }}</h5>
                        <p class="card-text">{{ t('Create and manage your recipe collection') }}</p>
                    </div>
                    <div class="align-self-center">
                        <i class="fas fa-book fa-2x"></i>
                    </div>
                </div>
                <a href="{{ url_for('recipes') }}" class="btn btn-light mt-2">
                    <i class="fas fa-arrow-right"></i> {{ t('Browse') }}
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">{{ t('Preferences') }}</h5>
                        <p class="card-text">{{ t('Manage your food preferences and dietary restrictions') }}</p>
                    </div>
                    <div class="align-self-center">
                        <i class="fas fa-cog fa-2x"></i>
                    </div>
                </div>
                <a href="{{ url_for('preferences') }}" class="btn btn-light mt-2">
                    <i class="fas fa-arrow-right"></i> {{ t('Manage') }}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <i class="fas fa-info-circle"></i> {{ t('Getting Started') }}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h6><i class="fas fa-list-ol"></i> {{ t('Quick Start Guide:') }}</h6>
                        <ol>
                            <li>{{ t('Set up your') }} <a href="{{ url_for('preferences') }}">{{ t('food preferences') }}</a></li>
                            <li>{{ t('Create and manage') }} <a href="{{ url_for('recipes') }}">{{ t('recipes') }}</a></li>
                            <li>{{ t('Plan your') }} <a href="{{ url_for('meal_plan') }}">{{ t('weekly meals') }}</a></li>
                            <li>{{ t('Add ingredients to your') }} <a href="{{ url_for('pantry_view') }}">{{ t('pantry') }}</a></li>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <h6><i class="fas fa-star"></i> {{ t('Features:') }}</h6>
                        <ul>
                            <li>{{ t('Track pantry inventory with transaction history') }}</li>
                            <li>{{ t('Rate recipes from 1-5 stars') }}</li>
                            <li>{{ t('Execute recipes (removes ingredients from pantry)') }}</li>
                            <li>{{ t('Generate grocery lists from meal plans') }}</li>
                            <li>{{ t('Manage dietary preferences and allergies') }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
